# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
*.egg-info/

# Logs (Correction de la casse)
logs/
Logs/
*.log

# Environnement (Très important pour la clé OpenAI)
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
.cache/
*.json_cache

# Résultats des tests (Ignore les JSON générés, mais GARDE les scripts Python)
Test/*.json

# Documents confidentiels BCP (Empêche d'envoyer les données bancaires sur GitHub)
Rag/documents/*.pdf
Rag/documents/*.docx
Rag/documents/*.txt
Rag/documents/*.doc