# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
*.egg-info/

#Test
Test/
test.py 

# Logs
Logs/
*.log

# Environnement
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# cache
.cache/
*.json_cache